/* --------- COMPONENTS / GENERAL --------- */
body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.text-white {
  color: white;
}
/* ---- Button ---- */
.download-button {
  margin: 5% 3% 5% 0;
}

/* --------------- NAV BAR ---------------- */

.navbar-brand {
  font-size: 1.8rem;
  font-family: Ubuntu;
  font-weight: 600;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* ---------------- TITLE ------------------ */
.container-fluid {
  padding: 3% 15% 7%;
  overflow: hidden;
}
#title {
  background-color: #ff4c68;
}

/* --- Image --- */
#image-title {
  transform: rotate(25deg);
  width: 23%;
  position: absolute;
}

/* --------------- FEATURES --------------- */

#features {
  padding: 7% 17% 7% 13%;
  position: relative;
  background-color: #fff;
}
.color-icon {
  color: #ef8172;
  margin-bottom: 1.2rem;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  font-weight: 600;
  font-size: 1.5rem;
}
.text-feature {
  font-size: 0.8rem;
  color: #8f8f8f;
}
.div-feature {
  text-align: center;
  padding: 5%;
}
.div-feature2 {
  text-align: center;
  padding: 5% 1% 5%;
}
.color-icon:hover {
  color: #ff4c68;
}
#two-lines {
  width: max-content;
}

/* ------------- TESTIMONIALS ------------- */
.image-testimonial {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.h2-testimonials {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* ------------- PRESS ------------- */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.logo-press {
  width: 15%;
  margin: 20px 20px 50px;
}

/* ------------ PRICING -------------- */

.card {
  padding: 0;
  margin: 50px auto 0;
  height: 366px;
}
.pricing-column {
  padding: 3% 2%;
}
.color-cards {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #8f8f8f;
  margin: 23px;
}
.color-cards2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #8f8f8f;
  margin-bottom: 12px;
}
.h3-pricing {
  color: white;
}
.h2-cards {
  margin-bottom: 15px;
}
.header-cards {
  background-color: #ff4c68;
  padding-bottom: 0px;
  padding-top: 5px;
}

.pricing__btn1 {
  color: #ff4c68;
  background-color: transparent;
  background-image: none;
  border-color: #ff4c68;
  font-weight: 500;
}
.pricing__btn1:hover {
  color: #fff;
  background-color: #ff4c68;
  border-color: #fff;
}
.pricing__btn2 {
  background-color: #ff4c68;
  border-color: #fff;
}
.pricing__btn2:hover {
  background-color: #ff4c68;
  color: white;
  border-color: #ef8172;
}
.div-pricing {
  padding: 2% 0% 5%;
}
#pricing {
  padding: 7% 15%;
  text-align: center;
}

/* -------- Call to Action --------- */
.btn-cta {
  margin: 1% 1%;
}
.btn-cta:hover {
  color: #ff4c68;
}
#cta {
  padding: 11% 14%;
  background-color: #ff4c68;
  text-align: center;
}
#text-cta {
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 2.9rem;
}

/* ---------- Footer ----------- */
.icon-ft {
  padding: 0% 1%;
}
#footer {
  background-color: white;
  text-align: center;
  padding: 7%;
}
#p-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #8f8f8f;
  margin-top: 1rem;
}

/* ----------- RESPONSIVIDADE ------------- */
@media (max-width: 1028px) {
  /* -------- Title --------- */
  #title {
    text-align: center;
  }
  #image-title {
    margin-bottom: -40%;
    top: 2rem;
    position: relative;
    width: 60%;
    transform: rotate(0deg);
  }
  h1 {
    font-size: 4rem;
  }
  .montserrat-bold {
    font-size: 2rem;
  }
  /* ------- Feature ------- */
  .text-feature {
    font-size: 1.4rem;
  }
  .div-feature2 {
    text-align: center;
    padding: 5%;
  }
  #two-lines {
    width: auto;
  }

  /* ----- Pricing ------ */
  .pricing-column {
    padding: 0% 4%;
  }
  #pricing {
    padding: 10% 15%;
    text-align: center;
  }

  /* ------- Cta ------- */
  #text-cta {
    margin: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 2.4rem;
  }
}
